<!doctype html>
<html lang="{{compact.site.language}}">
    <head>
        <meta charset="utf-8">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NJ7LMFV');</script>
<!-- End Google Tag Manager -->

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ relative_url "/assets/bootstrap/bootstrap.min.css" }}">
        <link rel="stylesheet" href="{{ relative_url "/assets/custom/styles.css" }}">
        <link rel="alternate" type="application/rss+xml" title="{{ compact.site.title }} &raquo; Feed" href="{{ absolute_url "/feed.rss"}}" />

        {{~> meta}}

        <title>{{~> title ~}}</title>
    </head>

    <body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJ7LMFV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        <header class="mb-5">
            {{~> header}}
        </header>

        <main id="main" role="main">
            {{~> main}}
        </main>

        <footer class="mt-5 py-5">
            {{~> footer}}
        </footer>

        <script src="{{ relative_url "/assets/popper.min.js" }}"></script>
        <script src="{{ relative_url "/assets/jquery.min.js" }}"></script>
        <script src="{{ relative_url "/assets/bootstrap/bootstrap.min.js" }}"></script>
        <script src="{{ relative_url "/assets/custom/code.js" }}"></script>

    </body>
</html>